@import "tailwindcss";

/* Catppuccin Macchiato Theme */
@theme {
    --color-ctp-rosewater: #f4dbd6;
    --color-ctp-flamingo: #f0c6c6;
    --color-ctp-pink: #f5bde6;
    --color-ctp-mauve: #c6a0f6;
    --color-ctp-red: #ed8796;
    --color-ctp-maroon: #ee99a0;
    --color-ctp-peach: #f5a97f;
    --color-ctp-yellow: #eed49f;
    --color-ctp-green: #a6da95;
    --color-ctp-teal: #8bd5ca;
    --color-ctp-sky: #91d7e3;
    --color-ctp-sapphire: #7dc4e4;
    --color-ctp-blue: #8aadf4;
    --color-ctp-lavender: #b7bdf8;

    --color-ctp-text: #cad3f5;
    --color-ctp-subtext1: #b8c0e0;
    --color-ctp-subtext0: #a5adcb;
    --color-ctp-overlay2: #939ab7;
    --color-ctp-overlay1: #8087a2;
    --color-ctp-overlay0: #6e738d;

    --color-ctp-surface2: #5b6078;
    --color-ctp-surface1: #494d64;
    --color-ctp-surface0: #363a4f;
    --color-ctp-base: #24273a;
    --color-ctp-mantle: #1e2030;
    --color-ctp-crust: #181926;
}